<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Do not route requests for existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Route everything else to index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Security: Disable directory browsing
Options -Indexes
